[Unit]
Description=lila-watch

[Service]
Environment="DISPLAY=:0"
ExecStart=/home/aimorris/.config/scripts/lila-watch

[Install]
WantedBy=multi-user.target
