*
!.config/
!.config/alacritty/
!.config/alacritty/alacritty.yml
!.config/archconfig/
!.config/archconfig/*
!.config/dunst/
!.config/dunst/dunstrc
!.config/user-dirs.dirs
!.config/scripts/
!.config/scripts/lila-watch
!.config/sway/
!.config/sway/config
!.config/sway/status.sh
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/lila.service
!.config/systemd/user/lila-watch.service
!.gitignore
!.local/
!.local/bin/
!.local/bin/*
!.zshenv
!.zshrc
