'atom-text-editor':
  'alt-w': 'select-text-between-tags:select'
  'shift-left': 'editor:select-to-first-character-of-line'
  'shift-right': 'editor:select-to-end-of-line'
'atom-workspace':
  'alt-shift-w': 'wrap-in-tag:wrap'
